.img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.container-box{
    border:  grey 1px solid;
    width: 950px;
    margin-top:20px ;
}

.Icons{
    padding-left: 500px;

}

.Button{

    margin-top: 80px;
    background-color: green;
    margin-left: 1000px;
    border-radius: 5px;
}

