



@media (max-width: 993px){
    .Button{
        align-items: center;
        background-color: green;
        border-radius: 5px
    }

}

@media not (max-width: 993px){
  
    .Button{

        margin-top: 80px;
        background-color: green;
        margin-left: 850px;
        border-radius: 5px
    }
}









